venv_*
__pycache__
*pytest_cache
.vscode
*.egg-info
model-tensorflow/data/ours
model-tensorflow/models/*
!model-tensorflow/models/models.json
model-tensorflow/data/*
!model-tensorflow/data/test
node_modules
frontend-js/buid/*